{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  {% if title %}
    <title>Django eCommerce - {{ title }}</title>
  {% else %}
    <title>Django eCommerce</title>
  {% endif %}
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'ecommerce/favicon.ico' %}">
  <link rel="icon" type="image/png" href="{% static 'ecommerce/favicon.ico' %}">
  <link rel="apple-touch-icon" href="{% static 'ecommerce/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'ecommerce/css/DioProgress.css' %}" type="text/css">
  <link href="{% static 'ecommerce/css/jquery-ui.css' %}" rel="stylesheet">
  <link href="{% static 'ecommerce/Bootstrap/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'ecommerce/css/style.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'ecommerce/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Poppins:300,500,600,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600,300,700' rel='stylesheet' type='text/css'>
  <link href="{% static 'ecommerce/css/owl.carousel.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'ecommerce/css/smoothproducts.css' %}">
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="{% static 'ecommerce/js/DioProgress.js' %}"></script>
</head>
<body id="index">
<div class="wrapar"> 
  <!-- Header Start-->
  <div class="header">
    <div class="header-top">
      <div class="container">
        <div class="call pull-left">
          <p>Call me : <span>+38 063 418-37-98</span></p>
        </div>
        <div class="user-info pull-right">
          <div class="user">
            <ul>
              {% if user.is_authenticated %}
                <li><a href="{% url 'my-account' %}">My Account</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
              {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="header-mid">
      <div class="container">
        <div class="row">
          <div class="col-md-3 header-left">
            <div class="logo"> <a href="{% url 'ecommerce-home' %}"><img src="{{ MEDIA_URL }}images/python-3.svg" alt="#"></a> </div>
          </div>
          <div class="col-md-6 search_block">
            <div class="search">
              <form action="#">
                <div class="search_cat">
                  <select class="search-category" name="search-category">
                    <option class="computer" selected>All Categories</option>
                    {% all_categories "main_search" %}
                  </select>
                  <span class="fa fa-angle-down"></span> </div>
                <input type="text" placeholder="Search...">
                <button type="submit" class="btn submit"> <span class="fa fa-search"></span></button>
              </form>
            </div>
          </div>
          <div class="col-md-3 header-right">
            <div class="cart">
              <div class="cart-icon dropdown"></div>
              {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                  <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">My Cart( {{ total_items }} )<span> ${{ cart.get_total_price }}</span></a>
                  <ul class="dropdown-menu pull-right cart-dropdown-menu">
                    <li>
                      <table class="table table-striped">
                        <tbody>
                          {% for item in cart %}
                              {% with product=item.product %}
                                <tr>
                                  <td class="text-center"><a href="{{ product.get_absolute_url }}"><img class="img-thumbnail" src="{{ product.image.url }}" alt="{{ product.title }}"></a></td>
                                  <td class="text-left"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></td>
                                  <td class="text-right quality">X{{ item.quantity }}</td>
                                  <td class="text-right price-new">{{ product.price }}</td>
                                  <td class="text-center"><a href="{% url 'cart-remove' product.id %}" type="button" title="Remove" class="btn btn-xs remove"><i class="fa fa-times"></i></a></td>
                                </tr>
                              {% endwith %}
                          {% endfor %}
                        </tbody>
                      </table>
                    </li>
                      <li>
                        <div class="minitotal">
                          <table class="table pricetotal">
                            <tbody>
                              <tr>
                                <td class="text-right"><strong>Sub-Total</strong></td>
                                <td class="text-right price-new">${{ cart.get_total_price }}</td>
                              </tr>
                                {% if cart.get_total_price >= 500 %}
                                  <tr>
                                    <td class="text-right"><strong>Shipping</strong></td>
                                    <td class="text-right price-new">FREE!</td>
                                  </tr>
                                  <tr>
                                    <td class="text-right"><strong>Total</strong></td>
                                    <td class="text-right price-new">${{ cart.get_total_price }}</td>
                                  </tr>
                                {% else %}
                                  <tr>
                                    <td class="text-right"><strong>Shipping</strong></td>
                                    <td class="text-right price-new">TBD</td>
                                  </tr>
                                  <tr>
                                    <td class="text-right"><strong>Total</strong></td>
                                    <td class="text-right price-new">TBD</td>
                                  </tr>
                                {% endif %}
                            </tbody>
                          </table>
                          <div class="controls"> <a class="btn btn-primary pull-left" href="{% url 'cart-detail' %}" id="view-cart"><i class="fa fa-shopping-cart"></i> View Cart </a> <a class="btn btn-primary pull-right" href="checkout.html" id="checkout"><i class="fa fa-share"></i> Checkout</a> </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                {% else %}
                  <a aria-expanded="false" class="dropdown-toggle" href="#">My Cart is empty!</a>
                {% endif %}
              {% endwith %}
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="new-further">
              <p>New in kors look  : </p>
              <ul class="toggle-newinFurther">
                {% latest_categories %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
   <!-- Main menu Start -->
  <div id="main-menu">
    <div class="container">
      <nav class="navbar navbar navbar-default">
        <div class="navbar-header">
          <button aria-controls= "navbar" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a href="#" class="navbar-brand">Menu</a> </div>
        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'ecommerce-home' %}">HOME</a></li>
            <li class="dropdown"> <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">CATEGORIES<span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% all_categories "categories_list" %}
              </ul>
            </li>
            <li><a href="#">BLOG</a><span class="new">new</span></li>
            <li><a href="#">CONTACT US</a></li>
            <li><a href="{% url 'about-us' %}">ABOUT US</a></li>
          </ul>
        </div>
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
      </nav>
    </div>
    <div id="navbar-on-scroll" class="container">
	  <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'ecommerce-home' %}">HOME</a></li>
            <li class="dropdown"> <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">CATEGORIES<span class="caret"></span></a>
              <ul class="dropdown-menu on-scroll">
                {% all_categories "categories_list" %}
              </ul>
            </li>
            <li><a href="#">BLOG</a><span class="new on-scroll">new</span></li>
            <li><a href="#">CONTACT US</a></li>
            <li><a href="{% url 'about-us' %}">ABOUT US</a></li>
          </ul>
          <div class="search_block">
            <div class="search-on-scroll">
              <form action="#">
                <div class="search_cat">
                  <select class="search-category-on-scroll" name="search-category">
                    <option class="computer" selected>All Categories</option>
                    {% all_categories "main_search" %}
                  </select>
                  <span class="fa fa-angle-down on-scroll"></span> </div>
                <input type="text" placeholder="Search...">
                <button type="submit" class="btn submit"> <span class="fa fa-search"></span></button>
              </form>
            </div>
          </div>
          <div class="cart-on-scroll">
              <div class="dropdown"></div>
              {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                  <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle on-scroll" href="#">My Cart( {{ total_items }} )<span> ${{ cart.get_total_price }}</span></a>
                  <ul class="dropdown-menu pull-right cart-dropdown-menu">
                    <li>
                      <table class="table table-striped">
                        <tbody>
                          {% for item in cart %}
                              {% with product=item.product %}
                                <tr>
                                  <td class="text-center"><a href="{{ product.get_absolute_url }}"><img class="img-thumbnail" src="{{ product.image.url }}" alt="{{ product.title }}"></a></td>
                                  <td class="text-left"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></td>
                                  <td class="text-right quality">X{{ item.quantity }}</td>
                                  <td class="text-right price-new">{{ product.price }}</td>
                                  <td class="text-center"><a href="{% url 'cart-remove' product.id %}" type="button" title="Remove" class="btn btn-xs remove"><i class="fa fa-times"></i></a></td>
                                </tr>
                              {% endwith %}
                          {% endfor %}
                        </tbody>
                      </table>
                    </li>
                      <li>
                        <div class="minitotal">
                          <table class="table pricetotal">
                            <tbody>
                              <tr>
                                <td class="text-right"><strong>Sub-Total</strong></td>
                                <td class="text-right price-new">${{ cart.get_total_price }}</td>
                              </tr>
                                {% if cart.get_total_price >= 500 %}
                                  <tr>
                                    <td class="text-right"><strong>Shipping</strong></td>
                                    <td class="text-right price-new">FREE!</td>
                                  </tr>
                                  <tr>
                                    <td class="text-right"><strong>Total</strong></td>
                                    <td class="text-right price-new">${{ cart.get_total_price }}</td>
                                  </tr>
                                {% else %}
                                  <tr>
                                    <td class="text-right"><strong>Shipping</strong></td>
                                    <td class="text-right price-new">TBD</td>
                                  </tr>
                                  <tr>
                                    <td class="text-right"><strong>Total</strong></td>
                                    <td class="text-right price-new">TBD</td>
                                  </tr>
                                {% endif %}
                            </tbody>
                          </table>
                          <div class="controls"> <a class="btn btn-primary pull-left" href="{% url 'cart-detail' %}" id="view-cart"><i class="fa fa-shopping-cart"></i> View Cart </a> <a class="btn btn-primary pull-right" href="checkout.html" id="checkout"><i class="fa fa-share"></i> Checkout</a> </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                {% else %}
                  <a aria-expanded="false" class="dropdown-toggle">My Cart is empty!</a>
                {% endif %}
              {% endwith %}
          </div>
        </div>
	</div>
  </div>
  <!-- Main menu End -->
  {% block content %}{% endblock %}
  <!-- Footer block Start  -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class= "newsletter">
            <form>
              <h2 class="tf">Be The First To Hear Our Exciting News</h2>
              <p>This ante posuere ac Mauris non turpis eu metus congue sagittis Fusce at.</p>
              <div class="input-group">
                <input class=" form-control" type="text" placeholder="Email Here...">
                <button type="submit" value="Sign up" class="btn btn-large btn-primary">Sign up</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="about">
            <div class="footer-logo"></div>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature in Virginia</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="new-store">
            <h4>What's in store</h4>
            <ul class="toggle-footer">
              <li><a href="#">Returns</a></li>
              <li><a href="#">Delivery Options</a></li>
              <li><a href="#">Brand Directory</a></li>
              <li><a href="#">Buying Guides</a></li>
              <li><a href="#">My Account</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="information">
            <h4>information</h4>
            <ul class="toggle-footer">
              <li><a href="#">Returns</a></li>
              <li><a href="#">Delivery Options</a></li>
              <li><a href="#">Brand Directory</a></li>
              <li><a href="#">Buying Guides</a></li>
              <li><a href="#">My Account</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="contact">
            <h4>Contact Us</h4>
            <ul class="toggle-footer">
              <li> <i class="fa fa-map-marker"></i>
                <div class="address-info">Warehouse & Offices 12345 Street name,Kharkiv, UA </div>
              </li>
              <li> <i class="fa fa-mobile"></i>
                <div class="call-info">+38 063 418-37-98<br>
                  <span>+38 063 418-37-98</span> </div>
              </li>
              <li> <i class="fa fa-envelope"></i>
                <div class="email-info"> <a href="mailto:RudnievVVPython@gmail.com">RudnievVVPython@gmail.com</a></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="social-link">
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="footer-link">
              <ul>
                <li><a href="#">Specials</a></li>
                <li><a href="#">Affiliates</a></li>
                <li><a href="#">Gift Vouchers</a></li>
                <li><a href="#">Brands</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="copy-right">
              <p> All Rights Reserved. Copyright &copy;2019.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-offer">
        <h2>Deals of the Day: Unbox Latest Offers & Deals Every Single Day at Store.</h2>
      </div>
    </div>
  </footer>
  <!-- Footer block End  --> 
  
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="{% static 'ecommerce/js/jQuery.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="{% static 'ecommerce/Bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'ecommerce/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'ecommerce/js/globle.js' %}"></script>
<script type="text/javascript" src="{% static 'ecommerce/js/smoothproducts.min.js' %}"></script>
<script src="{% static 'ecommerce/js/jquery-ui.js' %}"></script>
<script src="{% static 'ecommerce/js/custom.js' %}"></script>
<script>
// When the user scrolls down 270px from the top of the document, slide down the navbar
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 270 || document.documentElement.scrollTop > 270) {
    document.getElementById("navbar-on-scroll").style.top = "0px";
  } else {
    document.getElementById("navbar-on-scroll").style.top = "-62px";
  }
}
</script>
</body>
</html>