{% extends 'ecommerce/base.html' %}
{% load custom_tags %}
{% load crispy_forms_tags %}
{% block content %}
  <!-- offer block Start  -->
  <div id="offer">
    <div class="container">
      <div class="offer">
        <p>30 New Mega Sales. Up to 80% Off. Starting Everyday at 9 AM.</p>
      </div>
    </div>
  </div>
  <!-- offer block end  -->

<!-- breadcrumb and page title block start  -->
<div id="bread-crumb">
  <div class="container">
    <div class="row">
        {% if title %}
          <div class="col-md-3">
            <div class="page-title">
              <h4>{{ title }}</h4>
            </div>
          </div>
        {% else %}
          <div class="col-md-3">
            <div class="page-title">
              <h4>Python eCommerce</h4>
            </div>
          </div>
        {% endif %}
        {% breadcrumbs request.path %}
    </div>
  </div>
</div>
<!-- breadcrumb and page title block end  -->
	<div class="container">
    <div class="alert alert-info">
      Your Password has been set!
    </div>
    <a href="{% url 'login' %}">Sign In Here</a>
  </div>
{% endblock content %}