{% extends 'ecommerce/base.html' %}
{% load custom_tags %}
{% load crispy_forms_tags %}
{% block content %}
  <!-- offer block Start  -->
  <div id="offer">
    <div class="container">
      <div class="offer">
        <p>30 New Mega Sales. Up to 80% Off. Starting Everyday at 9 AM.</p>
      </div>
    </div>
  </div>
  <!-- offer block end  -->

<!-- breadcrumb and page title block start  -->
<div id="bread-crumb">
  <div class="container">
    <div class="row">
        {% if title %}
          <div class="col-md-3">
            <div class="page-title">
              <h4>{{ title }}</h4>
            </div>
          </div>
        {% else %}
          <div class="col-md-3">
            <div class="page-title">
              <h4>Python eCommerce</h4>
            </div>
          </div>
        {% endif %}
        {% breadcrumbs request.path %}
    </div>
  </div>
</div>
<!-- breadcrumb and page title block end  -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="vertical-tab" role="tabpanel">
                <!-- Nav tabs -->
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Info</a></li>
                    <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Addresses</a></li>
                    <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">Orders</a></li>
                <div class="form-group">
                  <button class="btn btn-info" type="submit">Update</button>
                </div>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                      <h3>My Account Info</h3>
                      <div class="media">
                        <h2 class="account-heading">{{ user.username }}</h2>
                        <p class="text-secondary">{{ user.email }}</p>
                        <hr><br>
                      </div>
                        <fieldset class="form-group">
                          {{ u_form|crispy }}
                        </fieldset>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="Section2">
                        <h3>My Addresses</h3>
                        <br>
                        {% if user.user_addresses.all %}
                          <table class="table table-bordered">
                            <tbody>
                              <tr>
                                <th>Company</th>
                                <th>Phone Number</th>
                                <th>Fax</th>
                                <th>Address 1</th>
                                <th>Address 2</th>
                                <th>Country</th>
                                <th>City</th>
                                <th>Postal Code</th>
                                <th>Update</th>
                                <th>Delete</th>
                              </tr>
                          {% for user_address in user.user_addresses.all %}
                              <tr>
                                <td>{{ user_address.company }}</td>
                                <td>{{ user_address.phone_number }}</td>
                                <td>{{ user_address.fax }}</td>
                                <td>{{ user_address.address_1 }}</td>
                                <td>{{ user_address.address_2 }}</td>
                                <td>{{ user_address.country }}</td>
                                <td>{{ user_address.city }}</td>
                                <td>{{ user_address.postal_code }}</td>
                                <td><a href="#" type="button" title="Update" class="btn btn-xs remove user-address-update"><i class="fa fa-edit"></i></a></td>
                                <td><a href="#" type="button" title="Remove" class="btn btn-xs remove user-address-remove"><i class="fa fa-times"></i></a></td>
                              </tr>
                          {% endfor %}
                            </tbody>
                          </table>
                        {% endif %}
                        <hr><br>
                        <fieldset class="form-group">
                          <h3>Fullfill to save the new address</h3>
                          {{ u_address_form|crispy }}
                        </fieldset>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="Section3">
                        <h3>My Orders</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
